* {
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
    /* background-image: url(../img/playa_bck.jpg); */
    /* utilice display flex en el body porque fue
    la unica manera que encontre para que el footer 
    siempre me quede abajo de todo */
}
a {
    color: white;
}
/* Header */
.header {
    display: flex;
    flex-direction: column;
    /* background-image: url(../img/playa_bck.jpg); */
    justify-content: space-evenly;
    height: 130px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header img {
    width: 150px;
    transition: 300ms;
}

/* Nav */
.header ul {
    display: flex;
    list-style: none;
    height: 130px;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.header li {
    margin: 0 15px;
}
.video {
    display: block;
    background-color:rgba(0, 0, 0, 0.45);
    margin: 5px;
    border: 3px solid white;
    border-radius: 5px;
}

button {
    background-color: rgba(0, 0, 0, 0.438);
    border: white 3px solid;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    color: white;
    transition: 300ms;
}
button:hover {
    background: rgb(255, 255, 255);
    color: black;
    border: 3px solid black;
    transform: scale(1.3);
    cursor: pointer;
}
h1 {
    text-align: center;
    margin: 5px;
    background-color:rgba(0, 0, 0, 0.882);
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    display: block;
    height: 50px;
    position: sticky;
    top: 130px;
    z-index: 2;
}
/* Main */
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: max-content;
}
.cards a {
    color: white;
}
.cards div {
    width: 700px;
    color: white;
    line-height: 120%;
    background-color:rgba(0, 0, 0, 0.45);
    overflow: auto;
    height: 250px;
    margin-top: 10px;
    padding: 7px;
    border: 3px solid white;
    border-radius: 5px;
}

.cards div h3 {
    text-align: center;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    position: sticky;
    top: 0;

}
.crew_fotos {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 550px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: max-content;
}

.crew_fotos div {
    width: 300px;
    text-align: center;
    color: white;
    line-height: 120%;
    background-color:rgba(0, 0, 0, 0.45);
    height: 250px;
    margin-top: 10px;
    padding: 7px;
    border: 3px solid white;
    border-radius: 5px;
    transition: 300ms;
}
.crew_fotos div:hover {
    transform: scale(1.7);
    background-color: black;
}
.crew_fotos div h3 {
    text-align: center;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
}
.crew_fotos img {
    width: 150px;
    border: 3px solid white;
    border-radius: 5px;
}
/* Servicios */

.equipos_fotos {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 550px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: max-content;
}

.equipos_fotos div {
    width: 300px;
    text-align: center;
    color: white;
    line-height: 120%;
    height: 250px;
    margin-top: 10px;
    padding: 7px;
    background-color:rgba(0, 0, 0, 0.45);
    border: 3px solid white;
    border-radius: 5px;
    transition: 300ms;
}
.equipos_fotos div:hover {
    transform: scale(1.5);
    background-color: black;
}
.equipos_fotos div h3 {
    text-align: center;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
}
.equipos_fotos img {
    width: 190px;
    border: 3px solid white;
    border-radius: 5px;
}

/* Clientes */

.grid-container {
    display: grid;
    grid-template-areas: 
    "aperol aperol aperol"
    "fernet empty stella"
    "muchas_mas muchas_mas muchas_mas";
    width: 80fr;
    grid-template-rows: 30fr 30fr 30fr;
    grid-template-columns: 40fr 20fr 40fr;
}

.aperol {
    display: grid;
    grid-template-areas: 
    "h3 h3 h3 h3"
    "aflex aflex aflex aflex";
    grid-template-columns: repeat(4, 22vmax);
    grid-area: aperol;
    padding: 7px;
    margin: 10px;
    background-color:rgba(0, 0, 0, 0.45);
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    justify-content: space-around;
    align-items: start;
}
.aperol h3 {
    grid-area: h3;
    width: 100fr;
    text-align: center;
    border: white solid 3px;
    border-radius: 3px;
}
.aperol .aperol_flex {
    grid-area: aflex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.aperol .aperol_flex img {
    width: 9.5%;
    border: 3px solid white;
    border-radius: 5px;
    transition: 300ms;
}
.aperol .aperol_flex img:hover {
    transform: scale(2);
    z-index: 2;
}
.fernet {
    display: grid;
    grid-template-areas:
        "hf hf"
        "fflex fflex";
    grid-template-columns: repeat(2, 40fr);
    grid-template-rows: 10fr 30fr;
    grid-area: fernet;
    padding: 7px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.45);
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    justify-content: space-around;
    align-items: start;
    align-content: space-evenly;
}
.fernet h3 {
    grid-area: hf;
    width: 100fr;
    text-align: center;
    border: white solid 3px;
    border-radius: 3px;
}
.fernet .fernet_flex {
    grid-area: fflex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.fernet .fernet_flex img {
    width: 22%;
    border: 3px solid white;
    border-radius: 5px;
    transition: 300ms;
}
.fernet .fernet_flex img:hover {
    transform: scale(2);
    z-index: 2;
}

.stella {
    display: grid;
    grid-template-areas:
    "hs hs"
    "sflex sflex";
    grid-template-columns: repeat(2, 40fr);
    grid-template-rows: 10fr 30fr;
    grid-area: stella;
    padding: 7px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.45);
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    justify-content: space-around;
    align-items: start;
    align-content: space-evenly;
}
.stella h3 {
    grid-area: hs;
    width: 10fr;
    text-align: center;
    border: white solid 3px;
    border-radius: 3px;
}
.stella .stella_flex {
    grid-area: sflex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.stella .stella_flex img {
    width: 22%;
    border: 3px solid white;
    border-radius: 5px;
    transition: 300ms;
}
.stella .stella_flex img:hover {
    transform: scale(2);
    z-index: 2;
}

.muchas_mas {
    display: grid;
    grid-template-areas: 
    "hm hm hm hm"
    "mflex mflex mflex mflex";
    grid-template-columns: repeat(4, 22vmax);
    grid-area: muchas_mas;
    padding: 7px;
    margin: 10px;
    background-color:rgba(0, 0, 0, 0.45);
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    justify-content: space-around;
    align-items: start;
}
.muchas_mas h3 {
    grid-area: hm;
    width: 100fr;
    text-align: center;
    border: white solid 3px;
    border-radius: 3px;
}
.muchas_mas .muchas_mas_flex {
    grid-area: mflex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.muchas_mas .muchas_mas_flex img {
    width: 9.5%;
    border: 3px solid white;
    border-radius: 5px;
    transition: 300ms;
}
.muchas_mas .muchas_mas_flex img:hover {
    transform: scale(2);
    z-index: 2;
}

/* FAQ */

.cards_faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: max-content;
}
.cards_faq div {
    width: 80vw;
    color: white;
    line-height: 120%;
    background-color:rgba(0, 0, 0, 0.45);
    overflow: auto;
    height: 60vh;
    margin-top: 10px;
    padding: 7px;
    border: 3px solid white;
    border-radius: 5px;
}

.cards_faq div h3 {
    text-align: center;
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    position: sticky;
    top: 0;
}

/* Contactos */

.contacto {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 5px;
    width: auto;
    background-color:rgba(0, 0, 0, 0.45);
    margin: 5px;
    color: white;
    height: max-content;
    align-items: center;
}
.contacto h3 {
    text-align: center;
    width: 98.5%;
    margin: 3px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
}
.contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    line-height: 120%;
    height: 500px;
    width: 400px;
    margin-top: 5px;
    padding: 7px;
}
.contacto form input {
    border: 3px solid white;
    border-radius: 5px;
    width: 80%;
    background-color:rgba(0, 0, 0, 0.45);
    padding: 2px;
    color: white;
}

/* footer */
.footer {
    width: auto;
    display: block;
    height: 100px;
    background-color:rgba(0, 0, 0, 0.45);
    border: 3px solid white;
    border-radius: 5px;
    margin-top: auto;
    width: 98vw;
    position: relative;
    bottom: 0;
}
.footer ul{
    display: flex;
    color: white;
    list-style: none;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer img {
    width: 40px;
}
.footer .logo {
    width: 60px;
}

@media (min-width: 768px) {

}
@media (min-width: 1024px) {
    
}